@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #hide {
    position: absolute;
    opacity: 0;
    z-index: -100;
    white-space: pre;
  }

  .input {
    width: 1rem;
    font-size: 3.5rem;
    font-weight: 700;
    outline: none;
    margin: 0px 20px;
    border-bottom: 1px solid #9ca3af;
  }

  .font {
    font-family: 'Open Sans', sans-serif;
  }

  .textColor {
    color: #b4b4b4;
  }

  .darkerColor {
    color: #5e5e5e
  }

}